@charset "UTF-8";
/* Анулювання стандартних відступів в браузері */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

#wrapper {
  position: relative;
  z-index: 2;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.form-title {
  margin-bottom: 10px;
  color: #333333;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 5px;
  position: relative;
}

form p {
  line-height: 34px;
  margin-bottom: 12.5px;
  font-size: 18px;
}

.form-control-wrap .form-control {
  padding: 10px !important;
  width: 90%;
}

.form-control-wrap input {
  overflow: hidden;
  background-color: #f2f1ee;
  color: #333333;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border: 2px solid transparent;
}

.form-control-wrap input:hover,
input:focus {
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.3);
  border: 2px solid #1abc9c;
}

.wpcf7 .form .contact-form-footer textarea {
  height: 160px;
  width: 90%;
}

.form-control-wrap textarea {
  overflow: hidden;
  background-color: #f2f1ee;
  color: #333333;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.form-control-wrap textarea:hover,
textarea:focus {
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.3);
  border: 2px solid #1abc9c;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.wpcf7 .form .contact-form-footer .submit {
  width: 85.5%;
  padding: 11px;
  line-height: 0;
}

.form .contact-form-footer .submit {
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  outline: none !important;
  background-color: #2691ab;
  border-radius: 5px;
  min-width: 140px;
  -webkit-box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form input[type=submit] {
  height: 40px;
  line-height: 21px;
  padding: 10px 40px;
  font-size: 18px;
}

.form .contact-form-footer .submit:hover {
  -webkit-box-shadow: 0 0px 20px #abc3cf;
          box-shadow: 0 0px 20px #abc3cf;
  border-color: #c25d02;
  background: -webkit-gradient(linear, left top, right top, from(#0a726b), color-stop(#359ae1), to(#0a726b));
  background: -o-linear-gradient(left, #0a726b, #359ae1, #0a726b);
  background: linear-gradient(to right, #0a726b, #359ae1, #0a726b);
  color: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 320px) {
  .header .container-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .container-header .header__row {
    margin: 0;
  }
  .header .container-header .header__row .header__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__body {
    min-height: 20vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__body .header__name {
    margin: 250px 0 0 0;
  }
  .header .container-header .header__row .header__body .header__text {
    margin: 5px 0 16px 0;
  }
  .header .container-header .header__row .header__body .header__title {
    margin: 10px 0 5px 0;
  }
  .header .container-header .header__row .header__country {
    min-height: 20vh;
  }
  .header .container-header .header__row .header__country img {
    width: 250px;
    height: 174px;
  }

  .contacts .data__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56px;
            flex: 0 0 56px;
  }
  .contacts .data__img img {
    width: 56px;
    height: 56px;
  }
}
@media only screen and (max-width: 480px) {
  .header__country img {
    width: 300px;
    height: 209px;
  }
}
@media only screen and (max-width: 600px) {
  .header .container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .container-header .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .header .container-header .header__row .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-height: 30vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__logo img {
    margin: 0 0 0 25px;
  }
  .header .container-header .header__row .header__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-height: 30vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-height: 20vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__body .header__name {
    margin: 250px 0 0 0;
  }
  .header .container-header .header__row .header__body .header__text {
    margin: 5px 0 16px 0;
  }
  .header .container-header .header__row .header__body .header__title {
    margin: 10px 0 5px 0;
  }
  .header .container-header .header__row .header__country {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-height: 20vh;
    text-align: right;
  }
  .header .container-header .header__row .header__country .header__lang {
    width: 32px;
    height: 32px;
    margin: 12px 0 0 5px;
    opacity: 85%;
  }

  .serices .sevices__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .serices .sevices__row .sevices__column .block__row .block__body .block__text {
    padding: 0 0 0 0px;
  }

  .portfolio .portfolio__row .portfolio__body {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .portfolio .portfolio__row .portfolio__body .portfolio__text {
    margin: 0 auto;
  }

  .contacts .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .header .container-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .container-header .header__row {
    margin: 0;
  }
  .header .container-header .header__row .header__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__body {
    min-height: 20vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .container-header .header__row .header__body .header__name {
    margin: 250px 0 0 0;
  }
  .header .container-header .header__row .header__body .header__text {
    margin: 5px 0 16px 0;
  }
  .header .container-header .header__row .header__body .header__title {
    margin: 10px 0 5px 0;
  }
  .header .container-header .header__row .header__country {
    min-height: 20vh;
  }

  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__row .about__column .item__row .item__image img {
    width: 220px;
    height: 275px;
  }

  .portfolio .portfolio__row .portfolio__body {
    padding: 0 0 0 55px;
    margin: 0 0 0 -55px;
    text-align: center;
  }
  .portfolio .portfolio__row .portfolio__body .portfolio__text {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  #particles-js {
    display: none;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-height: 10vh;
  }

  .header__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-height: 10vh;
  }

  .header__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-height: 50vh;
  }

  .header__country {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-height: 50vh;
  }
  .header__country img {
    width: 300px;
    height: 209px;
    margin: 70px 0 0 0;
  }

  .header__scroll {
    display: none;
  }
}
body {
  font-family: "Cuprum", sans-serif;
  font-size: calc(16.75px + 1.25 * ((100vw - 320px) / 960));
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1024px;
  margin: 0px auto;
  background-color: #fff;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  color: #445161;
  font-size: calc(26px + 4 * ((100vw - 320px) / 960));
  line-height: 36px;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 15px 0 0 0;
}

.m1 {
  color: #c25d02;
}

p {
  padding: 0 3%;
  color: #000000;
}

.light {
  color: #abc3cf;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) insert;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) insert;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #0a726b 20%, #359ae1 60%);
}

a {
  color: #ffffff;
  line-height: inherit;
}
a, a:visited {
  color: #ffffff;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
  color: #c25d02;
}

.header {
  background: -o-linear-gradient(45deg, #002535, #011e2c, #191919);
  background: linear-gradient(45deg, #002535, #011e2c, #191919);
  padding: 50px 0;
  min-height: 100vh;
}
.header .container-header {
  max-width: 75%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.header .container-header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 -8px;
}
.header .container-header .header__row .header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 30vh;
}
.header .container-header .header__row .header__logo img {
  margin: 0 0 0 25px;
}
.header .container-header .header__row .header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 30vh;
}
.header .container-header .header__row .header__nav nav {
  font-size: calc(14.5px + 5.5 * ((100vw - 320px) / 960));
}
.header .container-header .header__row .header__nav nav a {
  line-height: 80px;
  padding: 0 8px;
  -webkit-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.header .container-header .header__row .header__nav nav a:hover {
  -webkit-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.header .container-header .header__row .header__nav nav:after {
  content: "";
  display: table;
  clear: both;
}
.header .container-header .header__row .header__nav nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .container-header .header__row .header__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 50vh;
}
.header .container-header .header__row .header__body .header__name {
  color: #abc3cf;
  font-family: "Pangolin", cursive;
  font-size: calc(24px + 4 * ((100vw - 320px) / 960));
  margin: 250px 0 0 0;
}
.header .container-header .header__row .header__body .header__text {
  font-size: calc(24px + 4 * ((100vw - 320px) / 960));
  font-family: "Cuprum", sans-serif;
  color: #c25d02;
  margin: 5px 0 16px 0;
  text-align: left;
}
.header .container-header .header__row .header__body .header__title {
  font-size: calc(28px + 4 * ((100vw - 320px) / 960));
  font-family: "Cuprum", sans-serif;
  color: #abc3cf;
  margin: 10px 0 5px 0;
  text-align: left;
}
.header .container-header .header__row .header__country {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 50vh;
  text-align: right;
}
.header .container-header .header__row .header__country .header__lang {
  width: 32px;
  height: 32px;
  margin: 12px 0 0 5px;
  opacity: 85%;
}
.header .container-header .header__row .header__scroll {
  position: absolute;
  margin: 650px 0 0 0;
  opacity: 75%;
  z-index: 10;
}

.about {
  padding: 0;
}
.about .about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}
.about .about__row .about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
  padding: 0 8px;
}
.about .about__row .about__column .item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .about__row .about__column .item__row .item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  margin: 0px auto;
}
.about .about__row .about__column .item__row .item__image img {
  -webkit-box-shadow: 5px 5px 10px 0 #191919;
          box-shadow: 5px 5px 10px 0 #191919;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}
.about .about__row .about__column .item__row .item__image img:hover {
  -webkit-box-shadow: 7.5px 7.5px 16px 0 #191919;
          box-shadow: 7.5px 7.5px 16px 0 #191919;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}
.about .about__row .about__column .item__row .item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 15px;
}
.about .about__row .about__column .item__row .item__body .item__title {
  color: #445161;
  font-size: calc(21px + 3 * ((100vw - 320px) / 960));
  line-height: 30px;
  margin: 0 0 13px 0;
  text-align: center;
}
.about .about__row .about__column .item__row .item__body .item__text {
  color: #333333;
  line-height: 24px;
  text-indent: 7.5px;
}

.serices {
  padding: 0;
}
.serices .sevices__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.serices .sevices__row .sevices__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin: 0 0 30px 0;
  padding: 0 8px;
}
.serices .sevices__row .sevices__column .block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.serices .sevices__row .sevices__column .block__row .block__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}
.serices .sevices__row .sevices__column .block__row .block__body:hover {
  -webkit-box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}
.serices .sevices__row .sevices__column .block__row .block__body .block__title {
  color: #445161;
  font-size: calc(21px + 3 * ((100vw - 320px) / 960));
  line-height: 30px;
  margin: 0 0 13px 0;
  text-align: center;
}
.serices .sevices__row .sevices__column .block__row .block__body .block__text {
  color: #333333;
  line-height: 24px;
  text-indent: 7.5px;
}
.serices .sevices__row .sevices__column .block__row .block__body .block__text .block__list {
  font-size: calc(17px + 3 * ((100vw - 320px) / 960));
  line-height: 30px;
  padding: 0 0 0 10px;
}
.serices .sevices__row .sevices__column .block__row .block__body .block__text .block__list:hover {
  background-color: #c25d02;
  color: #ffffff;
}

.portfolio {
  padding: 0;
}
.portfolio .container {
  background-color: #f2f1ee;
}
.portfolio .portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio .portfolio__row .portfolio__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 55px;
}
.portfolio .portfolio__row .portfolio__body .card {
  position: relative;
  margin: 15px 3px;
  width: 300px;
  height: 200px;
  display: inline-block;
  -webkit-box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.3);
}
.portfolio .portfolio__row .portfolio__body .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.portfolio .portfolio__row .portfolio__body .card:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.75);
}
.portfolio .portfolio__row .portfolio__body .card img {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 0;
}
.portfolio .portfolio__row .portfolio__body .card .card-title {
  position: absolute;
  width: 300px;
  left: 0;
  top: 155px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
  -webkit-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
}
.portfolio .portfolio__row .portfolio__body .card:hover .card-title {
  top: 57.5px;
}
.portfolio .portfolio__row .portfolio__body .card .button {
  position: absolute;
  width: 300px;
  left: 0;
  top: 135px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}
.portfolio .portfolio__row .portfolio__body .card .button a {
  width: 150px;
  padding: 10px 40px;
  text-align: center;
  color: #ffffff;
  border: solid 2px #ffffff;
  z-index: 1;
}
.portfolio .portfolio__row .portfolio__body .card .button a:hover {
  text-decoration: underline;
}
.portfolio .portfolio__row .portfolio__body .card:hover .button {
  opacity: 1;
}
.portfolio .portfolio__row .portfolio__body .portfolio__text {
  text-align: center;
  font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  margin: 30px 0 10px 0;
}
.portfolio .portfolio__row .portfolio__body .portfolio__text a {
  color: #359ae1;
}
.portfolio .portfolio__row .portfolio__body .portfolio__text a:hover, .portfolio .portfolio__row .portfolio__body .portfolio__text a:focus {
  color: #c25d02;
  text-decoration: underline;
}

.contacts {
  padding: 0;
}
.contacts .contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
  text-align: center;
}
.contacts .contacts__row .contacts__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
  padding: 0 8px;
}
.contacts .contacts__row .contacts__data {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
  padding: 0 8px;
}
.contacts .contacts__row .contacts__data .data__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts .contacts__row .contacts__data .data__row .data__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
  text-align: center;
}
.contacts .contacts__row .contacts__data .data__row .data__phone .data__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 7.5px 0;
  padding: 0 8px;
}
.contacts .contacts__row .contacts__data .data__row .data__phone .data__body .data__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
}
.contacts .contacts__row .contacts__data .data__row .data__phone .data__body .data__subtitle {
  margin: 2px 0 7px 0;
}
.contacts .contacts__row .contacts__data .data__row .data__phone .data__body .data__link a {
  color: #359ae1;
  display: block;
  margin: 0 0 12.5px 0;
}
.contacts .contacts__row .contacts__data .data__row .data__phone .data__body .data__link a:hover, .contacts .contacts__row .contacts__data .data__row .data__phone .data__body .data__link a:focus {
  color: #c25d02;
}
.contacts .contacts__row .contacts__data .data__row .data__title {
  color: #445161;
  font-size: calc(17px + 3 * ((100vw - 320px) / 960));
  line-height: 30px;
  margin: 0 0 13px 0;
  text-align: center;
}
.contacts .contacts__row .contacts__data .data__row .data__icons a {
  display: inline;
  padding: 0 5px;
}
.contacts .contacts__row .contacts__data .data__row .data__icons img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: -webkit-filter 0.4s ease;
  -webkit-transition: -webkit-filter 0.4s ease;
  -o-transition: filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.contacts .contacts__row .contacts__data .data__row .data__icons img:hover {
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transform: rotateX(25deg) rotateZ(-10deg);
          transform: rotateX(25deg) rotateZ(-10deg);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.footer {
  background: -o-linear-gradient(45deg, #002535, #011e2c, #191919);
  background: linear-gradient(45deg, #002535, #011e2c, #191919);
}
.footer .container {
  background: transparent;
}
.footer .container .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container .footer__row .footer__text {
  color: #abc3cf;
  font-size: calc(11px + 5 * ((100vw - 320px) / 960));
}